{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div class="wrapper">
            <div class="wiesiek">
                <img src="{{ url_for('static', filename='images/wiesiek.webp') }}">
            </div>
            <div class="wrapper">
                <div id="upload-button">
                    <span class="text-normal">Select or drop files</span>
                    <span class="text-dragover">Drop your files</span>
                    <div id="drop-zone"></div>
                </div>
                <input id="upload-input" type="file" multiple="" name="file">
                <progress></progress>
                <ul id="upload-list"></ul>
                <div id="spinner">
                    <i class="fas fa-spinner fa-spin"></i>
                </div>
                <div id="upload-error" class="error"></div>
            </div>
        </div>
    </div>
{% endblock %}
